/*
 * SPDX-FileCopyrightText: 2025 HackLoad 2025 team
 *
 * SPDX-License-Identifier: MIT
 */

.fadeOut {
    opacity: 0;
    animation: fade 3s linear;
}

@keyframes fade {
    0% {
        opacity: 0.9
    }

    100% {
        opacity: 0
    }
}
